body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "ZTB";
  src: url("/fonts/ZTBrosOskon90s-ExtraLight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}




/* --- Règle globale --- */
* {
  box-sizing: border-box;
}