.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.jen {
  width: 300px;
  height: 120px;
  margin-bottom: 4px;

}

.h2 {
  margin-top: 0px;
  margin-left: 11px;
  line-height: 0;

  color: black;
  font-family: "ZTB";
  font-size: 19px;
}

.section {
  margin-top: 550px;
}